#body {
  font-family: sans-serif;
}
nav {
  margin-right: 1vw;
  margin-top: 0.5vw;
  font-size: 14px;
}
nav a:link {
  color: #000;
  text-decoration: none;
}
nav a:hover {
  color: #000;
  text-decoration: underline;
}
nav li {
  margin: 0 5px;
}
li {
  display: inline-block;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f2f2f2;
}
input[type="text"] {
  width: 80%;
  padding: 12px 12px;
  border: none;
  outline: none;
}

input[type="text"]:focus {
  border: none;
}

.sign-in {
  background-color: #1a73e8;
  border: none;
  border-radius: 0.1cm;
  color: #fff;
  padding: 7px 23px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.container {
  margin: -65px 0 0 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.google-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
.search {
  border: 1px solid #d7d7db;
  border-radius: 1cm;
  padding: 1px 0;
  width: 45%;
  margin: 0 auto;
}
.icon {
  width: 18px;
  height: 18px;
}
.mic,
.lens,
.dot-grid {
  width: 30px;
  height: 30px;
}
.center {
  text-align: center;
}
.inline {
  display: inline-block;
}
.small {
  font-size: 13px;
}
.space {
  margin-bottom: 30px;
}
.right {
  position: absolute;
  right: 0;
}
.google-btn {
  background-color: #f8f9fa;
  border: none;
  border-radius: 0.1cm;
  color: #46484b;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 0px 3px;
}
.google-btn:hover {
  border: 1px solid #dbdde1;
}
.languages {
  margin-top: -10px;
}
.languages div {
  margin-right: -30px;
}
.languages li {
  margin: 0 3px;
}
.languages a:link {
  color: #1a0dab;
  text-decoration: none;
}
.languages a:hover {
  text-decoration: underline;
}
.location {
  margin: 11px 30px;
}
.divider {
  border-top: 1px solid #a8a8b1;
  margin-top: 0px;
  margin-bottom: 12px;
}
.divider2 {
  border-top: 1px solid #a8a8b1;
  margin-top: 3px;
  margin-bottom: 6px;
}
.footer {
  margin-left: -18px;
  margin-bottom: -3px;
  font-size: 15px;
}

.footer li {
  margin: 0 15px;
}
.a-link a:link {
  color: #000;
  background-color: transparent;
  text-decoration: none;
}
.a-link a:hover {
  color: #000;
  background-color: transparent;
  text-decoration: underline;
}

/* The container <div> - needed to position the dropup content */
.dropup {
  position: relative;
  display: inline-block;
}
.dropup-content {
  display: none;
  position: absolute;
  border-radius: 0.2cm;
  margin: 15px;
  padding-top: 6px;
  padding-bottom: 6px;
  right: -10px;
  bottom: 20px;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 8px 8px 16px 8px #e5e5e5;
  z-index: 1;
  font-size: 14px;
}
/* Links inside the dropup */
.dropup-content a {
  color: black;
  padding: 5px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropup links on hover */
.dropup-content a:hover {
  background-color: #e5e5e5;
}
.setting {
  text-decoration: none;
  color: #000;
}
.setting:hover {
  text-decoration: underline;
}
